{% extends "base.html" %}

{% block title %}My Dashboard{% endblock %}

{% block content %}

<div class="dashboard">
        <h2>Hello, {{user.username}}</h2>

</div>

    {% if events %}
        <ul>
            {% for event in events %}

                <li>
                    <strong>{{ event.title }}</strong>
                    - {{ event.date.strftime('%d/%m/%Y') }} at {{ event.location }}
                    <p>{{ event.description }}</p>
                </li>
              <a href="{{ url_for('signup_event', event_id=event.id) }}" class="btn signup-btn">
                    Sign Up
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming events right now. 🎉</p>
    {% endif %}
</div>


{% endblock %}